<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds" packagingData="true">
	<!-- <property resource="resource1.properties" /> -->
	<contextName>${CONTEXT_NAME}</contextName>
	<property name="LOG_HOME" value="${catalina.home}/logs" />
	<property name="LOG_FILENAME" value="userserver" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.logback" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="com.logback.HelloWorld2" level="WARN" />

	<logger name="com.alibaba.dubbo" level="warn" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.apache.zookeeper" level="warn" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
